.user-appointments-bg-container{
    background: #FFF;
    padding: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.user-appointment-header-container{
    display: flex;
    width: 60%;
    align-items: flex-start;
    justify-content: space-between;
}
.user-appointments-arrow-img{

}
.user-appointments-heading{
    color: var(--Primary-1, #0071C1);
    text-align: center;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1.68px;
    margin-bottom: 60px;
    text-align: center;
}
.user-appointmnet-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 66px;
}


.user-appointment-button{
    margin-right: 14px;
    border-radius: 100px;
    border: 1px solid var(--Primary-2, #FF8A08);
    color: var(--Primary-2, #FF8A08);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--Grey-3, #F8F9FF);;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.user-appointment-button:hover{
    background: var(--Primary-2, #FF8A08);
    color: var(--Grey-3, #F8F9FF);
}

.user-appointment-button-active{
    background: var(--Primary-2, #FF8A08);
    color: var(--Grey-3, #F8F9FF);
}

.user-appointments-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}